<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/mobileCss")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)
        <link href="../../Content/CustomeThemes2/CustomeTheme2.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/TouchPunch.js" type="text/javascript"></script>

       </script>
    </head>
    <body id="menu">
  <div id="slidemenu">

        <div data-role="page" class="pages" id="home">
    <div data-role="header" data-position="fixed" data-theme="b">
    @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                }
                <a href="@Url.Action("Login", "Account")"  data-icon="delete" data-transition="flow">Logout</a>
     </div>
    <div data-role="content">
        @RenderBody()
    </div>
</div>

       
    </body>
</html>

<script type="text/javascript">
</script>
